body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

header nav {
    background-color: #1E3653;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

header nav h3 {
    margin: 0;
}

main {
    margin-top: 80px;
}

.calculator {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.display {
    background-color: #1E3653;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ddd;
}

.button:active {
    background-color: #ccc;
}
